
.modal-lg {
  max-width: 80%;
}
.modal-body > div > div {
  border-bottom: dotted 1px rgba(0, 0, 0, 0.2);
  margin-bottom: .5em;
}
#MailboxList {
  display: none;
}
#MailboxView{
  display: none;
}
#MailboxList ul {
  margin-bottom: 2em;
}
html, body
{
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: sans-serif;
  outline-color: darkgray;
  min-width: 320px;
  box-sizing: border-box;
  background-color: lightgrey;
}

.main-container
{
  min-width: 320px;
  padding-top: 5em;
  background-color: aliceblue;
  padding-bottom: 1em;
}

#EmailTableHeader
{
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #b0e0e6;
  padding-top: .75em;
  padding-bottom: .75em;
  font-size: larger;
}

.page-link
{
  background-color: none;
  padding: 0 .75rem;
  line-height: 1.5rem;
}

.EmailDataRow
{
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.EmailDataCell
{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 0;
}

.EmailDataRow:nth-of-type(2n)
{
  background-color: peachpuff;
  background-color: rgba(255, 165, 0, 0.4);
}

.CenterButton
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.MyInfoButton
{
  padding-top: 0;
  padding-bottom: 0;
  width: auto;
}

.bg-faded
{
  background-color: powderblue;
}

.ModalMessage
{
  margin-left: 1em;
  margin-right: -2em;
  border: 1px lightgrey solid;
  border-radius: 5px;
  background-color: white
}

.modal-header,
.modal-footer
{
  background-color: rgba(176, 224, 230, 0.62);
}

.modal-body
{
  background-color: rgba(246, 215, 153, 0.60);
}

.modal-title
{
  font-size: 2rem;
}
.navbar
{
  min-width: 320px;
}

  .navbar ul li a
  {
    line-height: 1rem;
  }
header .content-wrapper
{
  padding-top: 20px;
}

.content-wrapper
{
  margin: 0 auto;
  max-width: 960px;
}



ul, menu, dir
{
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 50px;
}
/*.NoPadding
{
  padding: 0;
}*/

/*.select-email
{
  height: 100%;
  background-color: deepskyblue;
  padding-top: 15px;
}

.email-viewer
{
  height: 100%;
  background-color: blueviolet;
  padding-top: 15px;
  color: white;
}*/

/*.datebox
{
  padding-left: 10px;
  margin-left: 0;
}

#DateFromSelect,
#DateToSelect,
#DateSelectRow,
#FromSenderSearchRow,
#SenderSearch,
#SubjectSearch,
#SearchButton
{
  margin-top: 1rem;
  margin-bottom: 1rem;
}*/

/*#EmailTableHeader h3
{
  margin-top: .5rem;
  padding-left: .25em;
  text-align: left;
  -webkit-margin-before: .5em;
  -webkit-margin-after: 0;
}*/

/*.myHeader
{
  background-color: lightgreen;
  text-align: right;
  margin-bottom: 0;
  max-width: 100%;
}

.myHeight
{
  line-height: 3rem;
}*/

/*.topSection
{
  margin-bottom: 3rem;
}*/

/*.logo
{
  font-size: 3rem;
}*/



/*.GreyButton
{
  float: right;
  font-size: 1.75rem;
  font-weight: 600;
  border: none;
}

.myButton
{
  transition: all;
  transition-duration: .5s;
  background-color: lightgray;
}

  .myButton:hover
  {
    background-color: rgb(120, 120, 120);
    color: darkgray;
    color: rgba(255, 255, 255, 0.8);
  }

  .myButton:focus
  {
    outline-color: darkgray;
  }*/

/*.datebox,
.SearchSender,
.SearchSubject
{
  margin-bottom: 1rem;
  line-height: 3rem;
  font-size: 18px;
  text-align: left;
  border-top: none;
  border-left: none;
  border-right: none;
}

.datelabel
{
  margin-bottom: 2rem;
}

input::-webkit-input-placeholder
{ /* Chrome/Opera/Safari 
  color: lightgray;
  color: rgba(0, 0, 0, 0.2);
}

input::-moz-placeholder
{  Firefox 19+ 
  color: lightgray;
  color: rgba(0, 0, 0, 0.2);
}

input:-ms-input-placeholder
{  IE 10+ 
  color: lightgray;
  color: rgba(0, 0, 0, 0.2);
}

input:-moz-placeholder
{  Firefox 18- 
  background-color: lightgrey;
  color: lightgrey;
  color: rgba(0, 0, 0, 0.2);
}

input:focus
{
  outline: none;
  box-shadow: none;
}

input:active
{
  outline: none;
  box-shadow: none;
}

.myDivider
{
  width: 98%;
  height: 1px;
  background: rgb(255,255,255);  Old browsers 
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 100%);  FF3.6-15 
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 50%,rgba(255,255,255,1) 100%);  Chrome10-25,Safari5.1-6 
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 50%,rgba(255,255,255,1) 100%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );  IE6-9 
}*/

/*#DateSearch,
#EmailSearch
{
  margin-bottom: 2rem;
}*/

/*#EmailListLabel
{
  margin-bottom: 1rem;
}

/*.SearchRow
{
  margin: 0 auto;
}*/

/*@media (max-width: 420px)
{
  .pull-right-lg
  {
    float: right;
  }

  h3
  {
    font-size: 1em;
  }
}

@media (min-width: 421px)
{
  .container
  {
    width: 100%;
  }

  .select-email
  {
    height: auto;
  }

  .email-viewer
  {
    height: auto;
  }
   Align text to center. 
  .text-xs-center
  {
    text-align: center;
  }

  .datebox,
  .SearchSender,
  .SearchSubject
  {
    margin: .5rem auto;
    line-height: 1rem;
  }


  h3
  {
    font-size: 1em;
  }
}

@media (min-width: 768px)
{
  .container
  {
    width: 100%;
  }

  .pull-right-md
  {
    float: right;
  }

  .container
  {
    width: 95%;
  }

  h3
  {
    font-size: 1.25em;
  }
}

@media (min-width: 992px )
{
  .container
  {
    width: 70%;
  }

  h3
  {
    font-size: 1.5em;
  }
}

@media (min-width: 1200px)
{
  .pull-right-lg
  {
    float: right;
  }
}

.DateTimeLabel
{
  margin: 0 auto;
}

input .input-group
{
  margin: 0;
  padding: 0;
}

  input .input-group:focus
  {
    outline-color: darkgray;
    box-shadow: darkgray;
    border-color: darkgray;
  }

  input .input-group:active
  {
    outline-color: darkgray;
    box-shadow: darkgray;
    border-color: darkgray;
  }

.darkgray-Outline-Color:focus
{
  outline-color: darkgray;
  border-color: darkgray;
  box-shadow: darkgray;
}

.darkgray-Outline-Color:active
{
  outline-color: darkgray;
  border-color: darkgray;
  box-shadow: darkgray;
}*/





/*footer
{
  clear: both;
  background-color: #d6d6d6;
  font-size: .8rem;
  height: 100px;
}*/

/*.callout
{
  border: 1px red solid;
  background-color: bisque;
}*/


/*.ui-datepicker
{
  width: 240px;
}

.ui-widget
{
  width: 240px;
}

.ui-widget-content
{
  width: 240px;
}*/



/*#CommissionerEmailTitle
{
  margin-bottom: 1.5em;
}*/

/*#LandingPageContent
{
  margin-bottom: 2rem;
}*/



/*hr.dotted
{
  border-top: 2px dotted rgba(150,150,150,.7);
}*/


